<div class="container">
    <hr/>
    <div class="col-6 col-lg-4">
        <h2>Main sponsor</h2>
        <div class="empty-head"></div>
        <a target="_blank" href="https://prodrive-technologies.com/">
            <img src="/img/partners/PT_logo2020.svg" alt="Prodrive Technologies"/>
        </a>
        <h3>Gold Sponsor</h3>
        <a target="_blank" href="https://www.booking.com/">
            <img width="200px" src="/img/partners/Booking_Com_Logo.png"
                 alt="Booking.com"/>
        </a>
        <a target="_blank" href="https://www.huawei.com/en/">
            <img width="200px" src="/img/partners/HW_logo.png" alt="Huawei"/>
        </a>
        <h4>Silver Sponsor</h4>
        <a target="_blank" href="https://www.guardsquare.com/">
            <img src="/img/partners/Guardsquare-RGB.png" alt="Guardsqaure"/>
        </a>

    </div>
    <hr/>
</div>